.App {
  font-family: sans-serif;
  text-align: center;
}

.NavigationBar {
  margin: 0 0 15px 0;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
}

.navLeftContent {
  display: flex;
  justify-content: flex-start;
}

.navButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Landing Page CSS */
.logoName {
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
}
.logoName:hover {
  color: white;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.landingImg {
  width: 100%;
}

.landingText {
  top: 38%;
  padding: 0px 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 500px;
}
.landingJoinButton {
  text-decoration: none;
  color: white;
}

.landingJoinButton:hover {
  text-decoration: none;
  color: white;
}
.buttons-landing {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.secondSection {
  background-color: #faf9f7;
}

.sectionExample {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
.sectionTextContainer {
  padding: 25px;
  flex-wrap: wrap;
  width: 60%;
}
.sectionTitle {
  font-size: 40px;
}
.sectionText {
  font-size: 30px;
}
.cardImgs {
  height: 20em;
}
.protected {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.navButton {
  margin: 10px;
}
.loadBookings {
  display: flex;
  justify-content: center;
}

.loadBookingsButton {
  width: 300px;
  margin: 100px auto;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.carouselItem {
  height: 100vh;
}

.profilePhoto {
  width: 15em;
  border-radius: 15%;
  border: 3px solid white;
  box-shadow: 3px 3px 3px black;
  margin: 20px;
}

.searchExperiences {
  border-radius: 3.5px;
  padding-left: 10px;
}
.profileName {
  display: flex;
  justify-content: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}
.viewAllContainer {
  margin: 15px;
  display: flex;
  justify-content: flex-start;
}

.momSquadButton {
  display: flex;
  justify-content: center;
}
.navLinks {
  color: #cccccc;
}

.navLinks:hover {
  color: white;
}

.buttonsBelowSearchBar {
  margin: 15px;
}

.cardDataContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardData {
  margin: 10px;
}

.login-page-wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-block,
.w-100 {
  margin: 0 auto;
}

.carousel.slide,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 50em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  margin: 50px;
}
.loginbuttonContainer {
  margin: 25px;
}
.loginCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.loginLogo {
  width: 10em;
}

.logoImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginCardContainer {
  margin: 100px auto;
}

.signinButton {
  width: 300px;
}
.DetailsCardButton {
  display: flex;
  justify-content: center;
}
.individualCardButtons {
  display: flex;
  justify-content: flex-end;
}

.individButtons {
  margin: 0 15px;
}

.myEventCards {
  margin: 25px;
}
.loadButtonEventContainer {
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
.loadButtonEvent {
  margin: 0 auto;
  width: 300px;
}

@media only screen and (max-width: 1250px) {
  .d-block {
    height: auto;
  }
  .carousel-caption,
  .carousel-indicators {
    bottom: 0;
  }
  .carousel.slide,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    background-color: none;
  }
}

@media only screen and (max-width: 970px) {
  .landingText {
    top: 25%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .sectionExample {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 574px) {
  nav.navbarContent.navbar.navbar-expand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navButtonContainer,
  .navLeftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button,
  .navButton {
    width: 300px;
  }
  .d-block {
    height: auto;
    margin: 0 auto;
  }

  .carousel-inner {
    height: auto;
  }
  .carousel-control-next,
  .carousel-control-prev {
    background-color: none;
  }
  .viewAllContainer {
    margin: 15px;
    display: flex;
    justify-content: center;
  }
  .experiencesButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .individualCardButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .individButtons {
    margin: 25px;
  }
}
