.App {
  font-family: sans-serif;
  text-align: center;
}

.NavigationBar {
  margin: 0 0 15px 0;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
}

.navLeftContent {
  display: flex;
  justify-content: flex-start;
}

.navButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navButton {
  margin: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.carouselItem {
  height: 100vh;
}

.profilePhoto {
  width: 15em;
  border-radius: 15%;
  border: 3px solid white;
  box-shadow: 3px 3px 3px black;
  margin: 20px;
}

.searchExperiences{
  border-radius: 3.5px;
  padding-left: 10px;
  
}
.profileName {
  display: flex;
  justify-content: center;
}

.profileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}
.viewAllContainer {
  margin: 15px;
  display: flex;
  justify-content: flex-start;
}

.momSquadButton{
  display: flex;
  justify-content: center;
}
.navLinks {
  color: #cccccc;
}

.navLinks:hover {
  color: white;
}


@media only screen and (max-width: 1260px) {
  .w-100 {
    height: auto;
  }
  .carousel-caption,
  .carousel-indicators {
    bottom: 0;
  }
}
@media only screen and (max-width: 574px) {
  nav.navbarContent.navbar.navbar-expand  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navButtonContainer,
  .navLeftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button, .navButton {
    width: 300px;
  }
  .viewAllContainer {
    margin: 15px;
    display: flex;
    justify-content: center;

  }
}
